body{
    background-color: cornflowerblue;
    font-size: 2rem;
    text-align: center  ;
}


main{
    height: auto;
    width: 90%;
    background-color: aliceblue;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}

main:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    
    
}

h1  {
    box-shadow: 2px 2px;
}

#p1{   
    font-style:italic;
    font
}

hr{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 5px solid black;
    border-radius: 5px;
    
}