body{
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    animation-name: example;
}


main{
    height: auto;
    width: 90%;
    background-color: aliceblue;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}

main:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    
    
}

h1  {
    box-shadow: 2px 2px;
    background-color: aliceblue;
    margin-top: 0px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    animation-name: h1;
    animation-duration: 5s;
}


#p1 {   
    font-style:italic;
}

hr{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 2px solid;
    border-radius: 5px;
    animation-name: hr;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }