.center{
    text-align: center;
}
.cor{
    color: red;
}

#cor{
    color: green;
}

body{
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    margin: 0px;
    color: white;
    
}


h1  {
    box-shadow: 2px 2px;
    background-color: aliceblue;
    margin-top: 0px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: black;
    
}

hr{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 2px solid;
    border-radius: 5px;
    
}

hr{
    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    
}

@keyframes example {
    from {border: 2px solid rgb(255, 255, 255);}
    to {border: 2px solid rgb(255, 1, 1);}
} 

